<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container" >

  <!-- BEGIN PAGE -->
  <div class="page-content-sub">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
              Widget settings form goes here
          </div>
          <div class="modal-footer">
            <button type="button" class="btn blue">Save changes</button>
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <!-- BEGIN PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            Profile <small><br>Powerful Project Management At your Finger Tips</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">

          <li>
            <i class="icon-home"></i>
            <a href="index.html">Dashboard</a>
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <a href="#">Projects</a>
            <i class="icon-angle-right"></i>
          </li>
          <li><a href="#">Profile</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    
    <%= form_for(@profile, url: update_profile_users_url, method: 'post', html: { class: 'form-horizontal' }) do |f| %>
      <div class="row">
        <div class="media profile col-sm-6">

          <div class="pull-left profile-img">
            <div class="fileupload fileupload-new" data-provides="fileupload">
              <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
              </div>
              <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
              <div>
                <span class="btn yellow btn-file">
                  <span class="fileupload-new"><i class="icon-paper-clip"></i> Select image</span>
                  <span class="fileupload-exists"><i class="icon-undo"></i> Change</span>
                  <input type="file" class="default" />
                </span>
                <a href="#" class="btn red fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> Remove</a>
              </div>
            </div>
          </div>
          <div class="media-body">
            
            <p>Project Manager</p>
            
            <div class="form-group">
              <div class="col-sm-4">
                <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name'  %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-8">
                <%= email_field_tag :mobile, current_user.email, placeholder: 'Email', class: 'form-control' %>                
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8">
                <%= f.text_field :mobile, class: 'form-control', placeholder: 'Mobile #' %>                
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8">
                <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="col-sm-8">
              <h4>Your Projects</h4>
              <div class="project-list">

                <p><a href="#">Lorem ipsum dolor sit amet</a></p>
                <p><a href="#">consectetur adipiscing elit</a></p>
                <p><a href="#">Aenean dignissim</a></p>
                <p><a href="#">dui condimentum </a></p>
                <p><a href="#">egestas viverra</a></p>
                <p><a href="#">Request to join project</a></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8">
              <%= f.select :communication_preference_id, options_from_collection_for_select(@com_preferences, :id, :name, @profile.communication_preference_id), {}, {:class=> 'form-control'} %>              
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="portlet box yellow">
        <div class="portlet-title">
          <div class="caption"><i class="icon-cogs"></i> Your Project Access</div>
        </div>
        <div class="portlet-body">
          <div class="form-group">
            <div class="col-sm-4">
              <label class="radio"><input type="radio" checked="checked"> Stackholder</label>
              <label class="radio"><input type="radio"> Time </label>
              <label class="radio"><input type="radio"> Scope</label>
              <label class="radio"><input type="radio"> Quality</label>
            </div>
            <div class="col-sm-4">
              <label class="radio"><input type="radio"> Stackholder</label>
              <label class="radio"><input type="radio"> Time </label>
              <label class="radio"><input type="radio"> Scope</label>
              <label class="radio"><input type="radio"> Quality</label>
            </div>
            <div class="col-sm-4">
              <label class="radio"><input type="radio"> Stackholder</label>
              <label class="radio"><input type="radio"> Time </label>
              <label class="radio"><input type="radio"> Scope</label>
              <label class="radio"><input type="radio"> Quality</label>
            </div>
          </div>
        </div>
      </div>
      <p class="form-actions text-right clearfix">
        <a href="#" class="pull-left">Click here to purchase more in-app purchase modules!</a>
        <a href="#" class="btn dark">Cancel</a>
        <%= submit_tag 'Update', class: 'btn yellow' %>                
      </p>
    <% end %>
    <!-- END PAGE CONTENT-->
  </div>
  <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
