<div class="content">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "login-form" }) do |f| %>
      <h3>Change your password</h3>
      <div class="alert alert-error">
        <button class="close" data-dismiss="alert"></button>
        <span><%= devise_error_messages! %></span>
      </div>
      <%= f.hidden_field :reset_password_token %>
      <div class="form-group">
        <div class="input-icon">
          <i class="icon-lock"></i>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control placeholder-no-fix", placeholder: "New Password" %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i class="icon-lock"></i>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control placeholder-no-fix", placeholder: "Confirm New Password" %>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn blue pull-right">
              Submit <i class="m-icon-swapright m-icon-white"></i>
            </button>
          </div>
        <%end%>
      </div>
